<div id='fb-root'></div>

<div id='main' role='main'>
    <div class='container'>
        <app-alert class='alert-error' ng-cloak='' ng-if='!User.hasWebRTC'>
            Your current browser does not support live video chat; please use the latest version of <a target="_blank"
                                                                                                       href="http://www.google.com/chrome">Google
            Chrome</a> or <a target="_blank" href="http://mozilla.org/firefox">Mozilla Firefox</a>.
        </app-alert>
        <div check-time-zone=''></div>

        <div class='alerts ng-cloak' ng-controller='AlertCtrl as alertCtrl'>
            <div class='center alert flash-message topAlert' ng-class='alert.type' ng-repeat='alert in Alert.alerts'>
                <a class='close' data-dismiss='alert'>×</a>
                <span>{{alert.msg}}</span>
                <span msg-html-unsafe='alert.msgHtmlUnsafe'></span>
                <a class='never-ask-again muted' href='#' ng-click='Alert.neverAskAgain(alert.name)'
                   style='padding-left:10px;text-decoration:underline;'>
                    Never ask again
                </a>
            </div>
        </div>

        <div class='row-fluid' ng-controller='dashboardCtrl as db'>
            <div class='mentee-dashboard'>
                <div class='span3'>
                    <div class='menu well'>
                        <div>
<span class='sidebar-avatar pull-left'>
<img alt='gravatar' src='https://www.gravatar.com/avatar/590ffe5b72621194f8759180d6d49440?d=mm&amp;s=200'>
</span>
                            <h4>dat</h4>

                            <div>
                                Credit:
                                <a class='credit-link' href='/users/buy_credit'>
                                    $0.00
                                    <i class='icon-plus-sign muted small'></i>
                                </a>
                            </div>
                        </div>
                        <ul class='nav'>
                            <!-- / Onboarding Actions -->
                            <li class='onboarding-actions' ng-class="{active:db.tab=='/getting-started'}">
                                <a href='#/getting-started' id='onboarding-actions'>
                                    <i class='icon-rocket get-started'></i>
                                    Getting Started
                                </a>
                            </li>
                            <!-- / Group Mentors -->
                            <!-- / Active Requests -->
                            <li class='active-requests' ng-class="{active:db.tab=='/active-requests'}">
                                <a href='#/active-requests' id='active-requests'>
                                    <span class='label'>0</span>
                                    Active Requests
                                </a>
                            </li>
                            <!-- / Request History -->
                            <!-- / Long-term Mentorships -->
                            <!-- / Live Classes -->
                            <!-- / Codementor Monthly -->
                            <li class='monthly'
                                ng-class="{active:['/monthly', '/monthly-requests'].indexOf(db.tab)&gt;=0}">
                                <a href='#/monthly' id='monthly'>
                                    <span class='label'>0</span>
                                    Codementor Monthly
                                </a>
                            </li>
                            <!-- / Offline Helps -->
                            <li class='offline-helps'
                                ng-class="{active:['/confirmed-offline-helps','/finished-offline-helps','/solved-offline-helps'].indexOf(db.tab)&gt;=0}">
                                <a href='#/confirmed-offline-helps' id='confirmed-offline-helps'>
                                    <span class='label'>0</span>
                                    Offline Help
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class='center hidden-phone' style='margin-bottom:10px;'>
                        <a href='/session?intro=true'>
                            Try a Test Session Now
                        </a>
                    </div>

                </div>
                <div class='span9'>
                    <!-- / Onboarding Actions -->
                    <div class='onboarding-actions' ng-show="['/getting-started'].indexOf(db.tab)&gt;=0">
                        <div class='news_records'>
                            <div class='row-fluid'>
                                <div class='onboarding_news' id='news_record_3'>
                                    <div class='news_record_block'>
                                        <user-skip-onboarding-news news_id='3'>
                                        </user-skip-onboarding-news>
                                        <h3>
                                            <b>Welcome to Codementor!</b>
                                        </h3>

                                        <div class="row-fluid">
                                            <div class="span12">
                                                <p>
                                                    To understand how things work, please watch our intro video. Also,
                                                    try a test session now to
                                                    make sure you’re properly set up. </p>
                                            </div>
                                        </div>
                                        <div class="row-fluid">
                                            <div class="span6">
                                                <a href="#" class="btn" ng-click="db.playWelcomeVideo()" style="
    width: 100%;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
" onclick="mixpanel.track('/dashboard/ClickOnBoardingNews/WatchVideo');">
                                                    Watch Video
                                                </a>
                                            </div>
                                            <div class="span6">
                                                <a href="/session" class="btn" style="
    width: 100%;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
" onclick="mixpanel.track('/dashboard/ClickOnBoardingNews/TestSessionRoom');">
                                                    Try a test Session
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class='onboarding_news' id='news_record_2'>
                                    <div class='news_record_block'>
                                        <user-skip-onboarding-news news_id='2'>
                                        </user-skip-onboarding-news>
                                        <h3 style="font-size:20px;"><b>Get more free credit!</b></h3>

                                        <div class="row-fluid">
                                            <div class="span12"
                                                 style="height: 130px;box-sizing:border-box;padding:10px;background-color:rgba(255,255,255,0.6);border-radius:5px 5px 0 0;">
                                                <ul class="text-center no-list-style"
                                                    style="display:flex;dispaly:-webkit-flex;margin:0px;">
                                                    <li style="flex:1;-webkit-flex:1;padding:0 5px;">
                                                        <i class="fi-comment-quotes" style="font-size: 3.5em"></i>
                                                        <h4 style="font-size:14px;color:#666;margin:3px 0;line-height:18px;">
                                                            Send out your code</h4>
                                                    </li>
                                                    <li style="flex:1;-webkit-flex:1;padding:0 5px;">
                                                        <i class="fi-monitor"
                                                           style="position: relative; font-size: 3.5em">
                                                            <i class="fi-check"
                                                               style="position: absolute; top: 22%; left: 30%; font-size: 50%"></i>
                                                        </i>
                                                        <h4 style="font-size:14px;color:#666;margin:3px 0;line-height:18px;">
                                                            Friend completes a
                                                            session</h4>
                                                    </li>
                                                    <li style="flex:1;-webkit-flex:1;padding:0 5px;">
                                                        <i class="fi-crown" style="font-size: 3.5em"></i>
                                                        <h4 style="font-size:14px;color:#666;margin:3px 0;line-height:18px;">
                                                            You both earn $10!</h4>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <a href="/users/referral" class="btn"
                                                       style="width:100%;box-sizing:border-box;">
                                                        Share your referral link now
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='block-title'>
<span>
Getting Started
</span>
                            </div>
                        </div>
                        <div class='row-fluid'>
                            <div class='span4'>
                                <div class='action-module'>
                                    <center>
                                        <div class='icon-wrapper'>
                                            <i class='service-icon icon-live-help'></i>
                                        </div>
                                        <p class='description'>
                                            Start a live 1:1 session with an expert mentor
                                        </p>
                                        <a class='btn btn-highlight action-btn' href='/questions/new'
                                           onclick="window.IHRc&amp;&amp;window.IHRc.getHelpNow(event,'dashboard_menu')">
                                            Get Live Help Now
                                        </a>
                                    </center>
                                </div>
                            </div>
                            <div class='span4'>
                                <div class='action-module'>
                                    <center>
                                        <div class='icon-wrapper'>
                                            <i class='service-icon icon-monthly'></i>
                                        </div>
                                        <p class='description'>
                                            Get matched with a long-term Codementor
                                        </p>
                                        <a class='btn action-btn' href='monthly'>
                                            View Monthly Plans
                                        </a>
                                    </center>
                                </div>
                            </div>
                            <div class='span4'>
                                <div class='action-module'>
                                    <center>
                                        <div class='icon-wrapper'>
                                            <i class='service-icon icon-hire'></i>
                                        </div>
                                        <p class='description'>
                                            Hire an expert developer to help you get jobs done
                                        </p>
                                        <a class='btn action-btn' href='hire/new'>
                                            Hire a Freelancer
                                        </a>
                                    </center>
                                </div>
                            </div>
                        </div>
                        <div class='block-title'>
<span>
<a class='link' href='/ama'>ASK ME ANYTHING</a>
</span>
                        </div>
                        <div class='row-fluid'>
                            <div class='span6'>
                                <div class='module'>
                                    <div class='module-header'>
                                        <div class='module-header__left'>
                                            <img class='mentor-image img-circle'
                                                 src='https://www.filepicker.io/api/file/VUGjAwWVRjiQZgmNAhca'>
                                        </div>
                                        <div class='module-header__right'>
                                            <a class='module-event-title' href='/ama/9130459624/cto-ranker'>
                                                I'm the Chief Technology Officer of Ranker, Ask Me Anything!
                                            </a>

                                            <div class='mentor-name'>
                                                Premesh Purayil
                                            </div>
                                        </div>
                                    </div>
                                    <p class='module-event-description'>
                                        Built and scaled a publisher platform from 100k visits a month to over 25M. Been
                                        through the
                                        trenches of the world of scaling out servers and planning forward to anticipate
                                        bottlenecks before
                                        they arrive....
                                    </p>

                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='module-time'>
                                                Wed, Oct 14, 02:00 AM
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <a class='action-link pull-right' href='/ama/9130459624/cto-ranker'>
                                                Learn More
                                                <i class='icon-angle-right'></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='span6'>
                                <div class='module'>
                                    <div class='module-header'>
                                        <div class='module-header__left'>
                                            <img class='mentor-image img-circle'
                                                 src='https://www.gravatar.com/avatar/cfe5445018c625be3b6f16655121a656?d=mm&amp;s=200'>
                                        </div>
                                        <div class='module-header__right'>
                                            <a class='module-event-title' href='/ama/4031562935/matthew-zeiler'>
                                                I'm the CEO of Clarifai, Ask Me Anything!
                                            </a>

                                            <div class='mentor-name'>
                                                Matthew Zeiler
                                            </div>
                                        </div>
                                    </div>
                                    <p class='module-event-description'>
                                        Matthew received a PhD in machine learning and image recognition with the
                                        pioneers of deep learning
                                        and convolutional neural networks. His research produced the top 5 results in
                                        the 2013 ImageNet
                                        classification...
                                    </p>

                                    <div class='row-fluid'>
                                        <div class='span6'>
                                            <div class='module-time'>
                                                Thu, Sep 17, 01:00 AM
                                            </div>
                                        </div>
                                        <div class='span6'>
                                            <a class='action-link pull-right' href='/ama/4031562935/matthew-zeiler'>
                                                Learn More
                                                <i class='icon-angle-right'></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                    </div>
                    <!-- / Group Recommended Mentors -->
                    <!-- / Active Requests -->
                    <div class='active-request ng-cloak' ng-show="['/active-requests'].indexOf(db.tab)&gt;=0">
                        <div class='well issues'>
                            <ul class='issues-list active-requests'>
                                <li style='padding: 25px 0 15px;'>
                                    <div class='clearfix'>
                                        <div class='status'>
                                            <i class='icon-bullhorn icon-font-class'></i>
                                        </div>
                                        <div class='content'>
                                            <h4 style='margin: 0px 0 10px; padding-top:10px;'>
                                                How Codementor Works
                                                <button class='btn btn-primary' ng-click='db.playWelcomeVideo()'
                                                        style='margin-left:20px;margin-top: -8px;padding: 8px 19px;'>
                                                    <div class='icon-play' style='margin-right:5px;'></div>
                                                    Watch Video
                                                </button>
                                            </h4>
                                            <hr>
                                            <h4 style='margin: 20px 0 20px;'>
                                                Issues previously solved on Codementor:
                                            </h4>

                                            <div class='row-fluid'>
                                                <div class='span6'>
                                                    <p>
                                                        Please help review my database design
                                                        <br>
<span class='muted small' style='font-size: 14px;'>
<i class='icon-ok-sign'></i>
Solved within 45 minutes
</span>
                                                    </p>

                                                    <p>
                                                        Code review for my Javascript
                                                        <br>
<span class='muted small' style='font-size: 14px;'>
<i class='icon-ok-sign'></i>
Connected in 15 minutes
</span>
                                                    </p>

                                                    <p>
                                                        Our production server is super slow. Please help!
                                                        <br>
<span class='muted small' style='font-size: 14px;'>
<i class='icon-ok-sign'></i>
Solved within 30 minutes
</span>
                                                    </p>
                                                </div>
                                                <div class='span6'>
                                                    <p>
                                                        Urgent iOS debugging help needed
                                                        <br>
<span class='muted small' style='font-size: 14px;'>
<i class='icon-ok-sign'></i>
Solved within 30 minutes
</span>
                                                    </p>

                                                    <p>
                                                        Pair program with me in Ruby on Rails
                                                        <br>
<span class='muted small' style='font-size: 14px;'>
<i class='icon-ok-sign'></i>
Connected in 10 minutes
</span>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='clearfix'>
                                        <div class='content'>
                                            <hr>
                                            <h4 style='margin: 30px 0 10px;'>
                                                Ideas On How to Use Codementor:
                                            </h4>

                                            <div class='row-fluid' style='margin-top:30px;'>
                                                <div class='span6'>
                                                    <div class='row-fluid'>
                                                        <div class='span3 center'>
                                                            <a href='/success-stories/freelance-developer-codementor'>
                                                                <img class='img-circle img-head'
                                                                     src='https://s3.amazonaws.com/codementor_content/brad-ceresani.jpg'
                                                                     style='max-width:47px;'>
                                                            </a>
                                                        </div>
                                                        <div class='span9'>
                                                            <b>
                                                                <a href="/success-stories/freelance-developer-codementor">Freelance
                                                                    Developers</a>
                                                            </b>
                                                            use Codementor for on-demand code reviews to build scalable
                                                            apps for clients.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='span6'>
                                                    <div class='row-fluid'>
                                                        <div class='span3 center'>
                                                            <a href='/success-stories/web-development-agency-codementor'>
                                                                <img class='img-circle img-head'
                                                                     src='https://s3.amazonaws.com/codementor_content/taylor-black.jpg'
                                                                     style='max-width:47px;'>
                                                            </a>
                                                        </div>
                                                        <div class='span9'>
                                                            <b>
                                                                <a href="/success-stories/web-development-agency-codementor">Web
                                                                    Development
                                                                    Agencies</a>
                                                            </b>
                                                            use Codementor for expert knowledge on-demand and save
                                                            months of work
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class='row-fluid' style='margin-top:30px;'>
                                                <div class='span6'>
                                                    <div class='row-fluid'>
                                                        <div class='span3 center'>
                                                            <a href='/success-stories/coding-bootcamp-graduate-codementor'>
                                                                <img class='img-circle img-head'
                                                                     src='https://s3.amazonaws.com/codementor_content/general-assembly.png'
                                                                     style='max-width:47px;'>
                                                            </a>
                                                        </div>
                                                        <div class='span9'>
                                                            <b>
                                                                <a href="/success-stories/coding-bootcamp-graduate-codementor">Novice
                                                                    Programmers</a>
                                                            </b>
                                                            use Codementor for quick solutions to problems they'd have
                                                            no other way to solve.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class='span6'>
                                                    <div class='row-fluid'>
                                                        <div class='span3 center'>
                                                            <a href='/success-stories/mark-cuban-backed-startup-developer-codementor'>
                                                                <img class='img-circle img-head'
                                                                     src='https://s3.amazonaws.com/codementor_content/maximilian-maksutovic.jpg'
                                                                     style='max-width:47px;'>
                                                            </a>
                                                        </div>
                                                        <div class='span9'>
                                                            <b>
                                                                <a href="/success-stories/mark-cuban-backed-startup-developer-codementor">Startups</a>
                                                            </b>
                                                            use Codementor to solve unanswered Stackoverflow problems
                                                            and deliver features on time.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                        <div class='well' ng-show='loaded'>
                            <div class='directory'>
                                <div class='resultBlock' style='padding:0px;'>
                                    <div class='row-fluid'>
                                        <div class='featured-mentors clearfix'>
                                            <div class='header'>
                                                <div class='status'></div>
                                                <h4>
                                                    Try First Session FREE with Featured Expert Mentors
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div ng-cloak='' ng-repeat='item in items' style='background: #fff;'>
                                        <div class='feature-mentors mentorModule'>
                                            <div class='fake-mentor'>
                                                <div class='row-fluid'>
                                                    <div class='span3'>
                                                        <div class='fake-avatar'></div>
                                                        <div class='fake-rate'></div>
                                                    </div>
                                                    <div class='span9'>
                                                        <div class='fake-info'></div>
                                                        <div class='fake-info'></div>
                                                        <div class='fake-info'></div>
                                                        <div class='fake-info'></div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class='row-fluid dummy-layer'>
                                                <div class='span1'></div>
                                                <div class='span7'></div>
                                                <div class='span2'></div>
                                                <div class='span2 lastColumn'>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- / Request History with three tabs ['/finished-sessions', '/finished-requests', '/cancelled-requests'] -->
                    <div class='request-history ng-cloak'
                         ng-show="['/finished-sessions','/finished-requests','/cancelled-requests'].indexOf(db.tab)&gt;=0">
                        <ul class='nav nav-tabs dashboard-tabs'>
                            <li ng-class="{active:db.tab=='/finished-sessions'}">
                                <a href='#/finished-sessions'>
                                    Sessions
                                </a>
                            </li>
                            <li ng-class="{active:db.tab=='/finished-requests'}">
                                <a href='#/finished-requests'>
                                    Finished Requests
                                </a>
                            </li>
                            <li ng-class="{active:db.tab=='/cancelled-requests'}">
                                <a href='#/cancelled-requests'>
                                    Cancelled Requests
                                </a>
                            </li>
                        </ul>
                        <div class='well issues with-tabs'>
                            <tmplt-finished-sessions></tmplt-finished-sessions>
                            <tmplt-finished-requests></tmplt-finished-requests>
                            <tmplt-cancelled-requests></tmplt-cancelled-requests>
                            <div class='tmplt-loading'
                                 ng-show="db.tab == '/finished-sessions' &amp;&amp; !db.hideFinishedSessionsLoading"></div>
                            <div class='tmplt-loading'
                                 ng-show="db.tab == '/finished-requests' &amp;&amp; !db.hideFinishedRequestsLoading"></div>
                            <div class='tmplt-loading'
                                 ng-show="db.tab == '/cancelled-requests' &amp;&amp; !db.hideCancelledRequestsLoading"></div>
                        </div>
                    </div>
                    <!-- / Longterm Mentorships -->
                    <div class='long-term-mentorships ng-cloak'
                         ng-show="['/find-longterm-mentors', '/longterm-mentorships'].indexOf(db.tab)&gt;=0">
                        <ul class='nav nav-tabs dashboard-tabs'>
                            <li ng-class="{active:db.tab=='/longterm-mentorships'}">
                                <a href='#/longterm-mentorships'>
                                    Long-term Mentorship
                                </a>
                            </li>
                            <li ng-class="{active:db.tab=='/find-longterm-mentors'}">
                                <a href='#/find-longterm-mentors'>
                                    Find Long-term Mentors
                                </a>
                            </li>
                        </ul>
                        <div class='issues'>
                            <tmplt-find-longterm-mentors></tmplt-find-longterm-mentors>
                            <tmplt-longterm-mentorships></tmplt-longterm-mentorships>
                            <div class='tmplt-loading for-longterm ng-cloak'
                                 ng-show="db.tab == '/longterm-mentorships' &amp;&amp; !db.hideLongtermMentorshipsLoading"></div>
                            <div class='tmplt-loading for-longterm ng-cloak'
                                 ng-show="db.tab == '/find-longterm-mentors' &amp;&amp; !db.hideLongtermRequestsLoading &amp;&amp; !db.LongtermMatchResultsLoading"></div>
                        </div>
                    </div>
                    <!-- / Live Classes -->
                    <div class='courses ng-cloak' ng-show="['/classes'].indexOf(db.tab)&gt;=0">
                        <div class='tmplt-loading for-courses' ng-show='!db.hideCoursesLoading'></div>
                        <tmplt-courses ng-show='db.hideCoursesLoading'></tmplt-courses>
                    </div>
                    <!-- / Codementor Monthly -->
                    <div class='codementor-monthly ng-cloak' ng-show="['/monthly'].indexOf(db.tab)&gt;=0">
                        <div class='tmplt-loading for-schedule-clusters'
                             ng-show='!db.hideScheduleClustersLoading'></div>
                        <tmplt-schedule-clusters ng-show='db.hideScheduleClustersLoading'></tmplt-schedule-clusters>
                    </div>
                    <!-- / Offline Helps -->
                    <div class='offline-helps ng-cloak'
                         ng-show="['/confirmed-offline-helps', '/finished-offline-helps', '/solved-offline-helps'].indexOf(db.tab)&gt;=0">
                        <ul class='nav nav-tabs dashboard-tabs'>
                            <li ng-class="{active:db.tab=='/confirmed-offline-helps'}">
                                <a href='#/confirmed-offline-helps'>
                                    Active
                                </a>
                            </li>
                            <li ng-class="{active:db.tab=='/finished-offline-helps'}">
                                <a href='#/finished-offline-helps'>
                                    Pending Approval
                                </a>
                            </li>
                            <li ng-class="{active:db.tab=='/solved-offline-helps'}">
                                <a href='#/solved-offline-helps'>
                                    Completed
                                </a>
                            </li>
                        </ul>
                        <div class='well issues with-tabs'>
                            <!-- / confirmed offline helps -->
                            <ul class='issues-list confirmed-offline-helps'
                                ng-show="db.tab == '/confirmed-offline-helps'">
                                <li ng-controller='NoOfflineHelpController as ctrl' style='padding: 25px 0 25px;'>
                                    <div class='status'>
                                        <i class='icon-bullhorn icon-font-class'>&nbsp;</i>
                                    </div>
                                    <div class='content'>
                                        <h4 style='margin: 10px 0 10px;'>
                                            No active offline help requests.
                                        </h4>
                                        <hr>
                                        <div class='btn btn-link' ng-click='ctrl.showScreenshots = true'
                                             ng-show='!ctrl.showScreenshots'>
                                            <i class='icon-info-sign'></i>
                                            What is an offline help request?
                                        </div>
                                        <div class='what-is-offline-help ng-hide' ng-show='ctrl.showScreenshots'>
                                            <p>
                                                <b>
                                                    If a mentor has helped you outside of a Codementor session (e.g. via
                                                    text chat) -
                                                </b>
                                                you can pay the mentor directly via the “Pay for Offline Help” button on
                                                the mentor’s profile
                                                page.
                                            </p>

                                            <div class='thumbnail'>
                                                <img
                                                        src="https://cdn.codementor.io/assets/screenshots/offline_helps/mentor_profile-a1c58532042e735439f6881718315760.png"
                                                        alt="Mentor profile"/>
                                            </div>
                                            <br>

                                            <p>
                                                <b>
                                                    If you'd like to ask a mentor to help you with bigger projects -
                                                </b>
                                                you can also choose to hold the payout until the mentor confirms
                                                completion of the request.
                                            </p>

                                            <div class='thumbnail'>
                                                <img
                                                        src="https://cdn.codementor.io/assets/screenshots/offline_helps/setup_payment_modal-e79b4cc00a8f73d6d86a4c19efde2162.png"
                                                        alt="Setup payment modal"/>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                            <!-- / finished offline helps -->
                            <ul class='issues-list finished-offline-helps'
                                ng-show="db.tab == '/finished-offline-helps'">
                                <li style='padding: 25px 0 25px;'>
                                    <div class='status'>
                                        <i class='icon-bullhorn icon-font-class'>&nbsp;</i>
                                    </div>
                                    <div class='content'>
                                        <h4 style='margin: 10px 0 10px;'>
                                            No offline help requests pending approval.
                                        </h4>
                                    </div>
                                </li>

                            </ul>
                            <!-- / solved offline helps -->
                            <ul class='issues-list solved-offline-helps' ng-show="db.tab == '/solved-offline-helps'">
                                <li style='padding: 25px 0 25px;'>
                                    <div class='status'>
                                        <i class='icon-bullhorn icon-font-class'>&nbsp;</i>
                                    </div>
                                    <div class='content'>
                                        <h4 style='margin: 10px 0 10px;'>
                                            No completed offline help requests.
                                        </h4>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <script id='modal/first-time-survey.html' type='text/ng-template'>
                        <div class='first-time-survey-main'>
                            <div class='hd'>
                                <h3>
                                    Set up your profile
                                </h3>

                                <div class='step-tab-bar'>
                                    <div class='step-ball' ng-class='{active:modal.step==$index, done:modal.ok[$index]}'
                                         ng-repeat='i in [1,2,3]'>
                                        <div class='ball'>
<span>
  {{i}}
</span>
                                            <i class='icon-ok'></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='bd'>
                                <div class='step-contents'>
                                    <div class='step-content' ng-show='modal.step==0'>
                                        <div class='survey-question'>
                                            <h3>
                                                Which topics would you need help with?
                                            </h3>

                                            <div class='selector topics' ng-init='modal.topicInit()'>
                                                <div class='option topic' ng-class='{active:topic.selected}'
                                                     ng-click='modal.selectTopic(topic)'
                                                     ng-repeat='topic in modal.topics'>
                                                  {{topic.name}}
                                                </div>
                                            </div>
                                            <div class='controls' ng-class='{requiredWarning:requiredWarning}'
                                                 ng-controller='CategoryCtrl as cc' ng-init='enableRecommand=false;'>
                                                <tags-input min-length='1' ng-model='tags'
                                                            on-tag-added='cc.onAddTag($tag)'
                                                            on-tag-removed='cc.onRemoveTag($tag)'
                                                            placeholder='Other topics'>
                                                    <auto-complete max-results-to-show='3' min-length='1'
                                                                   source='cc.loadTags($query)'></auto-complete>
                                                </tags-input>

                                            </div>
                                        </div>
                                    </div>
                                    <div class='step-content' ng-show='modal.step==1'>
                                        <div class='survey-question q2'>
                                            <h3>
                                                What's your general technical experience level?
                                            </h3>

                                            <div class='selector'>
                                                <div class='option' ng-class='{active:modal.Q2selected==q.id}'
                                                     ng-click='modal.selectQ2(q, $event)' ng-repeat='q in modal.Q2'>
                                                    <input name='exp_level' ng-click='modal.selectQ2(q, $event)'
                                                           ng-model='modal.Q2selected'
                                                           ng-value='q.id' type='radio'>
                                                  {{q.title}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class='step-content' ng-show='modal.step==2'>
                                        <div class='survey-question q3'>
                                            <h3>
                                                Why would you like to use Codementor?
                                            </h3>

                                            <div class='selector'>
                                                <div class='option' ng-class='{active:q.selected}'
                                                     ng-click='modal.selectQ(q, $event)'
                                                     ng-repeat='q in modal.Q3'>
                                                    <input ng-click='modal.selectQ(q, $event)' ng-model='q.selected'
                                                           type='checkbox'>
                                                  {{q.title}}
                                                </div>
                                            </div>
                                            <div class='other-text'>
                                                <textarea ng-model='modal.Q3other' placeholder='Other'></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class='ft text-right'>
                                <button class='btn' ng-click='modal.skip()'>
                                    Skip
                                </button>
                                <button class='btn ng-cloak' ng-click='modal.previous()' ng-show='modal.step&gt;0'>
                                    <div class='icon-chevron-left'></div>
                                    Previous
                                </button>
                                <button class='btn' ng-class="{'btn-primary':modal.ok[modal.step]}"
                                        ng-click='modal.next()'
                                        ng-hide='modal.step==2'>
                                    Next
                                    <div class='icon-chevron-right'></div>
                                </button>
                                <button class='btn' ng-class="{'btn-primary':modal.ok[modal.step]}"
                                        ng-click='modal.submit()'
                                        ng-show='modal.step==2'>
                                    Done
                                </button>
                            </div>
                        </div>
                    </script>



                    <script>
                        (function () {
                            $(document).ready(function () {
                                return mixpanel.track("User Dashboard Loaded");
                            });

                        }).call(this);
                    </script>
                    <div class='modal hide fade' id='questionEdit'>
                        <div class='modal-header'>
                            <button aria-hidden='true' class='close' data-dismiss='modal'>
                                &times;
                            </button>
                            <h3>
                                Edit Request
                            </h3>
                        </div>
                        <div class='modal-body'>
                            <form>
                                <div class='form-group'>
                                    <label class='editLabel'>
                                        What do you need help with ?
<span class='red' ng-show='issue.title===""'>
*required
</span>
                                    </label>
                                    <input class='editInput form-control' ng-model='issue.title'>
                                </div>
                                <div class='form-group'>
                                    <label class='editLabel'>
                                        Request Details
                                    </label>
                                    <textarea class='editInput form-control' ng-model='issue.body' rows='10'></textarea>
                                </div>
                            </form>
                        </div>
                        <div class='modal-footer'>
                            <a aria-hidden='true' class='btn' data-dismiss='modal' href='#'>
                                <i class='icon-remove'></i>
                                Close
                            </a>
                            <a aria-hidden='true' class='btn btn-primary' href='#'
                               ng-click='!(issue.title==="") &amp;&amp; submitQuestion(issue)'
                               ng-disabled='issue.title===""'>
                                <i class='icon-ok'></i>
                                Submit
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class='modal hide fade' id='modalScheduleDecline'>
            <form id="decline_schedule" class="form-horizontal" data-validate="parsley" action="/schedules/0/decline"
                  accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;"/><input
                    type="hidden"
                    name="authenticity_token"
                    value="WtkBNJSY1NWp8GxzTp4656f5vSokTGcCzufO6gqnMZFoe4gsr2VRHIvInRltOFgBWDOf7c/Ydp4fLVqmYS6JEg=="/>

                <div class='modal-header'>
                    <h3>
                        Cancel a Schedule suggested by
                        <span class='userName'></span>
                    </h3>
                </div>
                <div class='modal-body'>
                    <div class='control-group required'>
                        <label class='required control-label' for='schedule_decline_reason'>
                            <abbr title='required'>*</abbr>
                            Reason
                        </label>

                        <div class='controls'>
<textarea name="decline_reason" id="decline_reason" placeholder="Please tell our mentor why you cannot continue."
          rows="3" class="input-xxlarge required">
</textarea>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <a aria-hidden='true' class='btn' data-dismiss='modal' href='#'>
                        <i class='icon-remove'></i>
                        Dismiss
                    </a>
                    <a class='btn btn-primary pull-right' href='#' id='btnDeclineSubmit'>
                        <i class='icon-remove-circle'></i>
                        Cancel Schedule
                    </a>
                </div>
            </form>

        </div>
        <div class='modal hide fade' id='modalReschedule'>
            <form id="reschedule" class="form-horizontal" data-validate="parsley" action="/schedules/0/reschedule"
                  accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;"/><input
                    type="hidden"
                    name="authenticity_token"
                    value="TS2dcoDjbPkjJy24/cvrWMM3zHOj92uhm99cTIsTAwt/jxRqux7pMAEf3NLebYm+PP3utEhjej1KFcgA4Jq7iA=="/>

                <div class='modal-header'>
                    <h3>
                        Suggest a new session time with
                        <span class='userName'></span>
                    </h3>
                </div>
                <div class='modal-body' date-picker='#datepicker' time-picker='.time_picker' timezone-displayer=''>
                    <div class='control-group datetime required appointment_appointment_time'>
                        <label class='datetime required control-label' for='schedule_appointment_time'>
                            <abbr title='required'>*</abbr>
                            <b>Suggested Time:</b>
                        </label>

                        <div class='controls'>
                            <input class='required' data-type='dateIso' id='datepicker' name='schedule[suggested_date]'
                                   size='16'
                                   style='width: auto' type='text' value='2015-10-06'>
                            <select class='time_picker' name='schedule[suggested_hour]' style='width: 120px;'>
                                <option value='00:00'>
                                    12:00 AM
                                </option>
                                <option value='00:30'>
                                    12:30 AM
                                </option>
                                <option value='01:00'>
                                    1:00 AM
                                </option>
                                <option value='01:30'>
                                    1:30 AM
                                </option>
                                <option value='02:00'>
                                    2:00 AM
                                </option>
                                <option value='02:30'>
                                    2:30 AM
                                </option>
                                <option value='03:00'>
                                    3:00 AM
                                </option>
                                <option value='03:30'>
                                    3:30 AM
                                </option>
                                <option value='04:00'>
                                    4:00 AM
                                </option>
                                <option value='04:30'>
                                    4:30 AM
                                </option>
                                <option value='05:00'>
                                    5:00 AM
                                </option>
                                <option value='05:30'>
                                    5:30 AM
                                </option>
                                <option value='06:00'>
                                    6:00 AM
                                </option>
                                <option value='06:30'>
                                    6:30 AM
                                </option>
                                <option value='07:00'>
                                    7:00 AM
                                </option>
                                <option value='07:30'>
                                    7:30 AM
                                </option>
                                <option value='08:00'>
                                    8:00 AM
                                </option>
                                <option value='08:30'>
                                    8:30 AM
                                </option>
                                <option value='09:00'>
                                    9:00 AM
                                </option>
                                <option value='09:30'>
                                    9:30 AM
                                </option>
                                <option value='10:00'>
                                    10:00 AM
                                </option>
                                <option value='10:30'>
                                    10:30 AM
                                </option>
                                <option value='11:00'>
                                    11:00 AM
                                </option>
                                <option value='11:30'>
                                    11:30 AM
                                </option>
                                <option value='12:00'>
                                    12:00 PM
                                </option>
                                <option value='12:30'>
                                    12:30 PM
                                </option>
                                <option value='13:00'>
                                    1:00 PM
                                </option>
                                <option value='13:30'>
                                    1:30 PM
                                </option>
                                <option value='14:00'>
                                    2:00 PM
                                </option>
                                <option value='14:30'>
                                    2:30 PM
                                </option>
                                <option value='15:00'>
                                    3:00 PM
                                </option>
                                <option value='15:30'>
                                    3:30 PM
                                </option>
                                <option value='16:00'>
                                    4:00 PM
                                </option>
                                <option value='16:30'>
                                    4:30 PM
                                </option>
                                <option value='17:00'>
                                    5:00 PM
                                </option>
                                <option value='17:30'>
                                    5:30 PM
                                </option>
                                <option value='18:00'>
                                    6:00 PM
                                </option>
                                <option value='18:30'>
                                    6:30 PM
                                </option>
                                <option value='19:00'>
                                    7:00 PM
                                </option>
                                <option value='19:30'>
                                    7:30 PM
                                </option>
                                <option value='20:00'>
                                    8:00 PM
                                </option>
                                <option value='20:30'>
                                    8:30 PM
                                </option>
                                <option value='21:00'>
                                    9:00 PM
                                </option>
                                <option value='21:30'>
                                    9:30 PM
                                </option>
                                <option value='22:00'>
                                    10:00 PM
                                </option>
                                <option value='22:30'>
                                    10:30 PM
                                </option>
                                <option value='23:00'>
                                    11:00 PM
                                </option>
                                <option value='23:30'>
                                    11:30 PM
                                </option>
                            </select>

                            <small class='muted' style='margin-left: 10px'>{{User.time_zone.name}}</small>
                        </div>
                    </div>
                    <div class='control-group muted'>
                        <label class='control-label'>
                            <b>
                                <span class='userName'></span>'s
                                Time:
                            </b>
                        </label>

                        <div class='controls'>
                            <p class='muted' style='margin-top: 5px; font-size: {{Viewport.phoneOnly ? 80 : 100}}%'>
                                <b class='userTimezone timeDisplay'></b>
<span class='warning' style='margin-left:10px; color: #b94a48; display:none'>
This is late at night for
<span class='userName'></span>
</span>
                            </p>
                        </div>
                    </div>
                    <div class='control-group required'>
                        <label class='required control-label' for='schedule_message'>
                            <abbr title='required'></abbr>
                            <b>Note:</b>
                        </label>

                        <div class='controls'>
<textarea name="message" id="message" placeholder="Type your message..." rows="3" class="input-xxxlarge">
</textarea>
                        </div>
                    </div>
                </div>
                <div class='modal-footer' ng-class='{"no-padding": Viewport.phoneOnly}'>
                    <a aria-hidden='true' class='btn btn-danger' data-dismiss='modal' href='#'>
                        <i class='icon-remove'></i>
                        Cancel
                    </a>
                    <a class='btn btn-success pull-right' href='#' id='btnRescheduleSubmit'>
                        <i class='icon-refresh'></i>
                        Suggest
                    </a>
                    <button class='btn pull-right hide' disabled id='btnRescheduleSubmitDisabled'>
                        <i class='icon-refresh'></i>
                        Suggest
                    </button>
                </div>
            </form>

        </div>
        <div class='modal hide fade' id='modalConfirm'>
            <form id="confirm_schedule" class="form-horizontal" data-validate="parsley" action="/schedules/0/confirm"
                  accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;"/><input
                    type="hidden"
                    name="authenticity_token"
                    value="LoWqRqQQHGZdOtswxGOJoJdhl2/4twwCjybJ9cBda2IcJyNen+2Zr38CKlrnxetGaKu1qBMjHZ5e7F25q9TT4Q=="/>

                <div class='modal-header'>
                    <h3>
                        Confirm schedule with
                        <span class='userName'></span>
                    </h3>
                </div>
                <div class='modal-body'>
                    <div class='control-group required'>
                        <label class='required control-label' for='schedule_confirm'>
                            <!-- %abbr{title: "required"} * -->
                            Note
                        </label>

                        <div class='controls'>
<textarea name="message" id="message" rows="3" placeholder="Type your message..." class="input-xxxlarge">
</textarea>
                        </div>
                    </div>
                </div>
                <div class='modal-footer'>
                    <a aria-hidden='true' class='btn btn-danger' data-dismiss='modal' href='#'>
                        <i class='icon-remove'></i>
                        Cancel
                    </a>
                    <a class='btn btn-success pull-right' href='#' id='btnConfirmSubmit'>
                        Confirm
                    </a>
                </div>
            </form>

        </div>
        <div class='modal hide fade' id='modal-edit-feedback'>
            <form class="simple_form form-horizontal" id="edit_feedback_form" style="margin:0px;"
                  novalidate="novalidate"
                  action="#" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden"
                                                                         value="&#x2713;"/><input
                    type="hidden" name="authenticity_token"
                    value="NHAD+8Oce8yGREua2RL7o7XXdR/W822FsRp8TS8MBXoG0orj+GH+BaR8uvD6tJlFSh1X2D1nfBlg0OgBRIW9+Q=="/>

                <div class='modal-header'>
                    <h3 class='white'>
                        Help Codementor Serve You Better
                    </h3>
                </div>
                <div class='modal-body' style='padding:15px 30px;'>
                    <h4 class='question-title'>
                        How would you rate your mentor?
                        <small class='muted'>(1 lowest, 5 highest)</small>
                    </h4>
          <span class="radio inline"><label for="lessons_rating_1"><input item_wrapper_class="inline"
                                                                          class="radio_buttons required rating"
                                                                          type="radio" value="1" name="lessons[rating]"
                                                                          id="lessons_rating_1"/>1</label></span><span
                        class="radio inline"><label for="lessons_rating_2"><input item_wrapper_class="inline"
                                                                                  class="radio_buttons required rating"
                                                                                  type="radio"
                                                                                  value="2" name="lessons[rating]"
                                                                                  id="lessons_rating_2"/>2</label></span><span
                        class="radio inline"><label for="lessons_rating_3"><input item_wrapper_class="inline"
                                                                                  class="radio_buttons required rating"
                                                                                  type="radio"
                                                                                  value="3" name="lessons[rating]"
                                                                                  id="lessons_rating_3"/>3</label></span><span
                        class="radio inline"><label for="lessons_rating_4"><input item_wrapper_class="inline"
                                                                                  class="radio_buttons required rating"
                                                                                  type="radio"
                                                                                  value="4" name="lessons[rating]"
                                                                                  id="lessons_rating_4"/>4</label></span><span
                        class="radio inline"><label for="lessons_rating_5"><input item_wrapper_class="inline"
                                                                                  class="radio_buttons required rating"
                                                                                  type="radio"
                                                                                  value="5" name="lessons[rating]"
                                                                                  id="lessons_rating_5"/>5</label></span>
                    <br>
                    <hr>
                    <h4 class='question-title'>
                        Review for Mentor
                        <small class='muted'></small>
                        (public)
                    </h4>
<textarea style="height: 100px; width: 80%;" id="review" class="text required"
          placeholder="Write a public review for this mentor" name="lessons[review]">
</textarea>
                </div>
                <div class='modal-footer' style='border-top:1px solid #ddd;'>
                    <div class='pull-right'>
                        <div class='btn' data-dismiss='modal'>
                            Cancel
                        </div>
                        <div class='btn btn-primary' id='submit_edit_feedback'>
                            Submit
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class='modal hide fade' id='modal-offline-help-feedback'>
            <form class="simple_form form-horizontal" id="offline-help-feedback-form" novalidate="novalidate" action="#"
                  accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;"/><input
                    type="hidden"
                    name="authenticity_token"
                    value="/JnNQnHH4kvrBsrDxzPB915ZlTOwSW5Es+L1cWoka97OO0RaSjpngsk+O6nklaMRoZO39Fvdf9hiKGE9Aa3TXQ=="/>

                <div class='modal-header'>
                    <h3 class='white'>
                        Offline Help Feedback
                    </h3>
                </div>
                <div class='modal-body' style='padding:15px 30px;'>
                    <h4 class='question-title'>
                        How would you rate your mentor?
                        <small class='muted'>(1 lowest, 5 highest)</small>
                    </h4>
          <span class="radio inline"><label for="offline_help_rating_1"><input item_wrapper_class="inline"
                                                                               class="radio_buttons required rating"
                                                                               type="radio" value="1"
                                                                               name="offline_help[rating]"
                                                                               id="offline_help_rating_1"/>1</label></span><span
                        class="radio inline"><label for="offline_help_rating_2"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="2"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_2"/>2</label></span><span
                        class="radio inline"><label for="offline_help_rating_3"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="3"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_3"/>3</label></span><span
                        class="radio inline"><label for="offline_help_rating_4"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="4"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_4"/>4</label></span><span
                        class="radio inline"><label for="offline_help_rating_5"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="5"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_5"/>5</label></span>
                    <br>
                    <hr>
                    <h4 class='question-title'>
                        Review for Mentor
                        <small class='muted'></small>
                        (public)
                    </h4>
<textarea style="height: 100px; width: 80%;" id="review" class="text required"
          placeholder="Write a public review for this mentor" name="offline_help[review]">
</textarea>
                    <br>
                    <hr>
                    <h4 class='question-title'>
                        Comment
                        <small class='muted'></small>
                        (private - the mentor will not see this)
                    </h4>
<textarea style="height: 100px; width: 80%;" id="comment" class="text required"
          placeholder="Please tell us anything that we can improve" name="offline_help[comment]">
</textarea>
                </div>
                <div class='modal-footer' style='border-top:1px solid #ddd;'>
                    <div class='btn btn-primary pull-right' id='submit-offline-help-feedback'>
                        Submit
                    </div>
                </div>
            </form>
        </div>
        <div class='modal hide fade' id='modal-edit-offline-help-feedback'>
            <form class="simple_form form-horizontal" id="edit-offline-help-feedback-form" style="margin:0px;"
                  novalidate="novalidate" action="#" accept-charset="UTF-8" method="post"><input name="utf8"
                                                                                                 type="hidden"
                                                                                                 value="&#x2713;"/><input
                    type="hidden" name="authenticity_token"
                    value="w1gFs8yRGwsaxziLRsZQWYrIxV2s+kEzw/PEDLqjutPx+oyr92yewjj/yeFlYDK/dQLnmkduUK8SOVBA0SoCUA=="/>

                <div class='modal-header'>
                    <h3 class='white'>
                        Edit Offline Help Review
                    </h3>
                </div>
                <div class='modal-body' style='padding:15px 30px;'>
                    <h4 class='question-title'>
                        How would you rate your mentor?
                        <small class='muted'>(1 lowest, 5 highest)</small>
                    </h4>
          <span class="radio inline"><label for="offline_help_rating_1"><input item_wrapper_class="inline"
                                                                               class="radio_buttons required rating"
                                                                               type="radio" value="1"
                                                                               name="offline_help[rating]"
                                                                               id="offline_help_rating_1"/>1</label></span><span
                        class="radio inline"><label for="offline_help_rating_2"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="2"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_2"/>2</label></span><span
                        class="radio inline"><label for="offline_help_rating_3"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="3"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_3"/>3</label></span><span
                        class="radio inline"><label for="offline_help_rating_4"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="4"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_4"/>4</label></span><span
                        class="radio inline"><label for="offline_help_rating_5"><input item_wrapper_class="inline"
                                                                                       class="radio_buttons required rating"
                                                                                       type="radio" value="5"
                                                                                       name="offline_help[rating]"
                                                                                       id="offline_help_rating_5"/>5</label></span>
                    <br>
                    <hr>
                    <h4 class='question-title'>
                        Review for Mentor
                        <small class='muted'></small>
                        (public)
                    </h4>
<textarea style="height: 100px; width: 80%;" id="review" class="text required"
          placeholder="Write a public review for this mentor" name="offline_help[review]">
</textarea>
                </div>
                <div class='modal-footer' style='border-top:1px solid #ddd;'>
                    <div class='pull-right'>
                        <div class='btn' data-dismiss='modal'>
                            Cancel
                        </div>
                        <div class='btn btn-primary' id='submit-edit-offline-help-feedback'>
                            Submit
                        </div>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<!--<script src="https://cdn.codementor.io/assets/inline/home/dashboard-fa6a38912e1857c3d85411bdc01dcc38.js"></script>-->
<!--<script-->
        <!--src="https://cdn.codementor.io/assets/inline/home/mentee_dashboard-ab453c4e09865e4326407102da43099d.js"></script>-->

{{outlet}}