<link rel="stylesheet" href="css\style-sign-in.css">
<div class='topBlock'>
    <center>
        <div class='customizeContainer'>
            <div class='module'>
                <h1 class='title'>
                    Sign in
                </h1>

                <div class='session'>
                    <div class='row-fluid'>
                        <div class='span12'>
                          {{#if errorMessage}}
                              <div class="alert alert-danger">
                                {{errorMessage}}
                              </div>
                          {{/if}}

                            <form {{action "authenticate" on="submit"}} accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="&#x2713;"/>

                                <div class='form-inputs'>
                                  {{input value=user.email class="inputName" placeholder=" Email" required="required" autofocus="autofocus"}}
                                  {{input value=user.password class="inputPassword" placeholder="Password" required="required" type="password" autofocus="autofocus"}}
                                    <label for="user_remember_me"><input type="checkbox" name="remember_me"
                                                                         id="user_remember_me" class="boolean"/>
                                        Remember me
                                    </label></div>
                                <br>
                                <input class='btn btn-primary submitBtn' type='submit' value='Sign in'>
                            </form>

                            <div class='sharedTitle'>
                                <a class="sharedTitle" href="/users/reset">Forgot your password?</a>
                            </div>
                            <div class='signUp muted'>
                                Don't have an account?&nbsp;
                                <a data-toggle='modal' href='#signup-modal'>
                                  {{#if errorMessage}}
                                      <div class="alert alert-danger">
                                          <strong>Login failed:</strong> {{errorMessage}}
                                      </div>
                                  {{/if}}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </center>
</div>
{{outlet}}
